:root {
  --vp-c-brand-1: #6366f1;
  --vp-c-brand-2: #818cf8;
  --vp-c-brand-3: #a5b4fc;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #6366f1 30%, #22d3ee);
}

.dark {
  --vp-c-brand-1: #818cf8;
  --vp-c-brand-2: #a5b4fc;
  --vp-c-brand-3: #c7d2fe;
}
